body {
	background-color: black;
}

#difficulty {
	text-align: center;
}

#difficulty, #intro, #mission-accepted, #mission-rejected {
  color: white;
  width: 50%;
  margin: 50px auto;
  font-size: 25px;
  line-height: 1.5;
}

p {
  margin-bottom: 20px;
}

#intro div {
  margin-top: 20px;
}

#yes, #no, #proceed {
	text-align: center;
}

#yes:hover, #no:hover, #proceed:hover {
  color: grey;
}

#intro, #mission-accepted, #mission-rejected {
	display:none;
}

#mission-rejected {
	text-align: center;
}
