.background {
  background-image: url('heian-jingu.jpg');
  width: 576px;
  height: 324px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: 0 auto;
}

#ami {
  background-image: url('ami.png');
  position: absolute;
  bottom: 10px;
  left: 40px;
  height: 110px;
  width: 50px;
  margin-left: 0px;
  background-position-x: -52px;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.rain {
  content: '';
  background-image: url('rain.gif');
  position: absolute;
  width: 576px;
  height: 324px;
  z-index: 10;
  opacity: .3;
  display: none;
}
