.what-i-do {
	margin: 0 auto;
	overflow: auto;
	padding: 40px;
	width: 90%;
}

.particular-thing {
	background-color: orange;
	float: left;
	height: 200px;
	outline: solid 1px blue;
	width: 25%;
}

.blank-row {
	background-color: turquoise;
	clear: both;
	height: 50px;
	outline: solid 1px blue;
}

.latest {
	background-color: rgb(100, 107, 111);
	margin: 0 auto;
	overflow: auto;
	width: 60%;
}

.wrapper {
	background-color: yellow;
	float: left;
	height: 400px;
	outline: solid 1px red;
	width: 40%;
	margin: 5%;
}
