/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  overflow: auto;
  padding: 17px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }

nav.opaque {
  background-color: rgba(0, 0, 0, 0.5); }

nav li {
  float: left;
  font-family: "Open Sans",sans-serif;
  margin: 5px 10px 0 10px;
  text-transform: uppercase; }

nav a {
  text-decoration: none;
  color: white; }

nav .logo {
  background-repeat: no-repeat;
  background-size: 22px;
  color: transparent;
  float: left;
  height: 34px;
  margin: 0; }

nav ul {
  list-style-type: none;
  float: right;
  font-size: 20px;
  font-weight: 100; }

/* ****************************************** */
/*     Hero: Jumping Jesse Image Area     */
/* ****************************************** */
.hero {
  background-image: url("jesse-jump.jpg");
  height: 700px;
  position: relative;
  z-index: 1;
  background-size: cover; }

.hero:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }

.hero-messaging {
  color: #fff;
  padding-top: 200px;
  text-align: center;
  z-index: 4;
  font-family: Merriweather, serif; }

.hero-messaging h1 {
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase; }

.hero-messaging p {
  font-family: "Open Sans",sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 25px;
  line-height: 1.5;
  margin-top: 15px; }

.hero-work {
  outline: 2px solid #ddc775;
  text-transform: uppercase;
  font-size: 25px;
  display: inline-block;
  padding: 1.4rem 4rem;
  margin-top: 45px;
  text-decoration: none;
  color: white;
  font-family: Merriweather, serif; }

.hero-work:hover {
  background-color: #ddc775; }

/* ****************************************** */
/*     Recent Projects    */
/* ****************************************** */
.recent-projects {
  overflow: auto;
  padding: 50px 0;
  width: 75%;
  margin: 0 auto; }

/*.projects-row {
	margin: 0 auto;
	width: 90%;
}*/
.project {
  outline: 1px solid red;
  float: left;
  width: 28.333%;
  text-align: center;
  margin: 0 2% 50px 2%; }

.project h3 {
  margin: 30px 0 20px 0;
  font-size: 2em;
  color: #0094ff; }

.project p {
  font-family: helvetica, verdana, sans-serif;
  color: gray;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 100;
  margin-top: 30px; }

.project img {
  max-width: 100%; }

.project a {
  text-decoration: none;
  color: #0094ff; }

.project:hover h3 {
  color: #E0CB77; }

/* ****************************************** */
/*                 Media Queries               */
/* ****************************************** */
@media (max-width: 1200px) {
  .project {
    width: 46%; } }

@media (max-width: 700px) {
  .project {
    float: none;
    width: 96%; } }

/* ****************************************** */
/*     Story Area    */
/* ****************************************** */
.story {
  background: url("banner-working.jpg") center right/cover no-repeat #272D35;
  background-repeat: no-repeat;
  color: #fff;
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  background-size: cover;
  height: auto; }

.story-details {
  border: solid 1px yellow;
  height: 400px;
  width: 50%; }

.what-i-do {
  margin: 0 auto;
  overflow: auto;
  padding: 40px;
  width: 90%; }

.particular-thing {
  background-color: orange;
  float: left;
  height: 200px;
  outline: solid 1px blue;
  width: 25%; }

.blank-row {
  background-color: turquoise;
  clear: both;
  height: 50px;
  outline: solid 1px blue; }

.latest {
  background-color: #646b6f;
  margin: 0 auto;
  overflow: auto;
  width: 60%; }

.wrapper {
  background-color: yellow;
  float: left;
  height: 400px;
  outline: solid 1px red;
  width: 40%;
  margin: 5%; }

footer {
  background-color: #272D35;
  margin: 0 auto;
  overflow: auto;
  padding: 40px;
  height: 500px; }
