footer {
	color: white;
	background-color: black;
	font-size: 15px;
	padding: 7px 10px;
	overflow: auto;
	font-family: cursive;
  .credits {
  	float: left;
  }

  .copyright {
  	float: right;
  }
}
