@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 10px;
  padding: 0;
  background-color: black;
}

img {
  height: 150px;
}

.player {
  border: 5px solid grey;
  border-radius: 5px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  background-color: #0A03FF;
  text-align: center;
  width: 35%;
  margin: 2% 7%;
  float: left;
}
