@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


body {
  background-color: black;

}

#root {
  border: 5px solid grey;
  border-radius: 5px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  background-color: #0A03FF;
  text-align: center;
  padding: 0 20px;
  width: 500px;
}
