@import url('https://fonts.googleapis.com/css?family=Revalia|Russo+One');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	min-height: 1400px;
}

nav {
  /*background-color: black;*/
  height: 50px;
	width: 100%;
	font-family: 'Revalia', cursive;
	color: white;
	position: fixed;
}

.pokeball {
	width: 40px;
	padding: 5px;
	float: left;
}

.nav-title {
	float: left;
	font-size: 20px;
	padding: 15px 0 15px 10px;
}

.nav-list {
	float: right;
}

.nav-list li {
	float: left;
	font-size: 16px;
	padding: 17px;
}

.nav-list li:hover {
	color: grey;
}



.header-img {
	background-image: url('images/ghosts.gif');
	background-size: cover;
	height: 700px;
}

h1,h2 {
	text-align: center;
  color: white;
	font-family: 'Russo One', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
	padding-top: 200px;
	font-size: 100px;
}

h2 {
	padding-top: 20px;
	font-size: 40px;

}



.from-ashes{
	background-image: url('images/lavendar-town.png');
	background-size: cover;
	height: 700px;
}




.snorlax-blocks {
	background-image: url('images/snorlax.png');
	background-size: cover;
	height: 700px;
	background-position:center center;
}


.team-rocket {
	right: 20px;
	bottom: 20px;
	width: 200px;
	border: 1px solid rgb(161, 161, 161);
	background-color: white;
	padding: 5px;
	position: fixed;
	display: none;
	z-index: 12;
	border-radius: 3px;
}

.wanted {
	text-align: center;
	color: red;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.grunts {
	width: 100px;
	padding: 10px 0;
	margin: 0 auto;
	display: block;
}

.contact-jenny {
	text-align: center;
	font-family: sans-serif;
}

.red {
	right: 20px;
	bottom: 20px;
	width: 200px;
	border: 1px solid rgb(161, 161, 161);
	background-color: white;
	padding: 5px;
	position: fixed;
	display: none;
	border-radius: 3px;
}

.red-pic {
	width: 100px;
	padding: 10px 0;
	margin: 0 auto;
	display: block;
}
