footer {
  height: 144px;
  background-color: rgb(93, 44, 44);
  .div-container {
    padding: 24px 50px;
    ul li .double-line {
      width: 59.5%;
      margin: 27.75px auto;
      float: left;
      .copyright {
        height: 22.5px;
        background-color: limegreen;
      }
      .mit {
        height: 18px;
        background-color: rgb(0, 163, 255)
      }
    }
    ul li .footer-links {
      width: 40.5%;
      float: left;
      .link-one, .link-two, .link-three, .link-four, .link-five {
        outline: 1px solid white;
        float: left;
        height: 96px;
      }
      .link-one {
        width: 16%;
      }
      .link-two {
        width: 15%;
      }
      .link-three {
        width: 13%;
      }
      .link-four {
        width: 22.6%;
      }
      .link-five {
        width: 32%;
      }
    }
  }
}

@media (max-width: 760px){
  footer {
    // padding: 24px 0;
    .div-container ul li {
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      div {
        padding-left: 0;
        padding-right: 0;
        float: left;
      }
    }
  }
}
