footer {
  clear: both;
  overflow: auto;
  height: 144px;
  background-color: rgb(93, 44, 44);
  .div-container {
    padding: 24px 50px;
    ul li .double-line {
      width: 40%;
      margin: 27.75px auto;
      float: left;
      .copyright {
        height: 22.5px;
        background-color: limegreen;
      }
      .mit {
        height: 18px;
        background-color: rgb(0, 163, 255)
      }
    }
    ul li .footer-links {
      width: 36%;
      float: right;
      .link-one, .link-two, .link-three, .link-four, .link-five {
        outline: 1px solid white;
        float: left;
        height: 96px;
      }
      .link-one {
        width: 16%;
      }
      .link-two {
        width: 15%;
      }
      .link-three {
        width: 13%;
      }
      .link-four {
        width: 22%;
      }
      .link-five {
        width: 32%;
      }
    }
  }
}

@media (max-width: 760px){
  footer {
    height: 350px;
    .div-container ul li {
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      div {
        padding-left: 0;
        padding-right: 0;
        float: left;
      }
      .double-line {
        width: 100%;
      }
      .footer-links {
        width: 100%;
        .link-one {
          width: 74.38px;
        }
        .link-two {
          width: 94.69px;
        }
        .link-three {
          width: 60.45px;
        }
        .link-four {
          width: 123.34px;
        }
        .link-five {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 453px) {
  footer .div-container ul li .footer-links {
        .link-one {
          width: 20%;
        }
        .link-two {
          width: 26%;
        }
        .link-three {
          width: 17%;
        }
        .link-four {
          width: 33%;
        }
        .link-five {
          width: 100%;
        }
  }
}
