.top-bar {
  background-color: lightblue;
  padding: 13.5px 0;
  overflow: auto;
  .sass-stickers {
    width: 408.66px;
    margin: 0 auto;
    .need-more-sass {
      background-color: red;
      width: 200.75px;
      height: 21px;
      float: left;
    }

    .buy-stickers {
      background-color: blue;
      width: 207.91px;
      height: 21px;
      float: left;
    }
  }
}

.pop-stripe {
  height: 4px;
  background-color: black;
}
