/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.top-bar {
  background-color: lightblue;
  padding: 13.5px 0;
  overflow: auto; }
  .top-bar .sass-stickers {
    width: 408.66px;
    margin: 0 auto; }
    .top-bar .sass-stickers .need-more-sass {
      background-color: red;
      width: 200.75px;
      height: 21px;
      float: left; }
    .top-bar .sass-stickers .buy-stickers {
      background-color: blue;
      width: 207.91px;
      height: 21px;
      float: left; }

.pop-stripe {
  height: 4px;
  background-color: black; }

nav {
  padding: 48px 3%;
  background-color: lightgreen; }
  nav .sass-nav {
    outline: 1px solid grey;
    overflow: auto; }
    nav .sass-nav .site-brand {
      width: 25%;
      height: 96px;
      float: left;
      background-color: orange; }
    nav .sass-nav .nav-menu {
      width: 710px;
      height: 72px;
      margin: 12px 0;
      float: right;
      background-color: pink; }
    nav .sass-nav li {
      height: 48px;
      margin: 12px 5px;
      outline: 1px solid black;
      float: left; }
      nav .sass-nav li .top-link {
        height: 42px; }
      nav .sass-nav li .install {
        width: 88.5px; }
      nav .sass-nav li .learn-sass {
        width: 115.58px; }
      nav .sass-nav li .blog {
        width: 69.92px; }
      nav .sass-nav li .documentation {
        width: 153.78px; }
      nav .sass-nav li .get-involved {
        width: 130.78px; }
      nav .sass-nav li .libsass {
        width: 88.69px; }

@media (max-width: 1040px) {
  nav .sass-nav .site-brand {
    width: 20%; }
  nav .sass-nav .nav-menu {
    float: right;
    width: auto; }
    nav .sass-nav .nav-menu .install {
      width: 74.38px; }
    nav .sass-nav .nav-menu .learn-sass {
      width: 94.69px; }
    nav .sass-nav .nav-menu .blog {
      width: 60.45px; }
    nav .sass-nav .nav-menu .documentation {
      width: 123.34px; }
    nav .sass-nav .nav-menu .get-involved {
      width: 106.08px; }
    nav .sass-nav .nav-menu .libsass {
      width: 74.52px; } }

@media (max-width: 790px) {
  nav .sass-nav .nav-menu {
    width: 60px;
    height: 60px;
    margin: 18px 10px 18px 0; }
    nav .sass-nav .nav-menu li {
      width: 0;
      height: 0; }
      nav .sass-nav .nav-menu li div {
        width: 0;
        height: 0;
        float: none;
        margin: .5px; }
  nav .sass-nav .site-brand {
    width: 150px; } }

.page-header {
  height: 108px;
  background-color: violet; }
  .page-header .superpowers {
    width: 1512px;
    height: inherit;
    margin: 0 auto;
    background-color: lightblue; }

.body {
  padding: 32px 0;
  background-color: #ff9e9e;
  overflow: auto; }
  .body .body-container {
    width: 1512px;
    padding: 64px 0;
    background-color: #bdff9e;
    margin: 0 auto;
    overflow: auto; }
    .body .body-container .hero-image-space, .body .body-container .introduction {
      height: 259px;
      float: left; }
    .body .body-container .hero-image-space {
      width: 745px;
      padding-right: 32px;
      background-color: #2f8fff; }
    .body .body-container .introduction {
      width: 735px;
      background-color: #00702d; }

.column-area {
  height: 336px;
  margin: 0 auto;
  padding: 12px 50px;
  background-color: beige; }
  .column-area ul {
    padding: 0px 10px; }
    .column-area ul li {
      width: 31%;
      margin: 0 1%;
      float: left;
      outline: 1px solid red; }
      .column-area ul li .top-portion {
        height: 72px;
        background-color: grey; }
      .column-area ul li .bottom-portion {
        height: 96px;
        background-color: #8bff73; }

footer {
  height: 144px;
  background-color: #5d2c2c; }
  footer .div-container {
    padding: 24px 50px; }
    footer .div-container ul li .double-line {
      width: 59.5%;
      margin: 27.75px auto;
      float: left; }
      footer .div-container ul li .double-line .copyright {
        height: 22.5px;
        background-color: limegreen; }
      footer .div-container ul li .double-line .mit {
        height: 18px;
        background-color: #00a3ff; }
    footer .div-container ul li .footer-links {
      width: 40.5%;
      float: left; }
      footer .div-container ul li .footer-links .link-one, footer .div-container ul li .footer-links .link-two, footer .div-container ul li .footer-links .link-three, footer .div-container ul li .footer-links .link-four, footer .div-container ul li .footer-links .link-five {
        outline: 1px solid white;
        float: left;
        height: 96px; }
      footer .div-container ul li .footer-links .link-one {
        width: 16%; }
      footer .div-container ul li .footer-links .link-two {
        width: 15%; }
      footer .div-container ul li .footer-links .link-three {
        width: 13%; }
      footer .div-container ul li .footer-links .link-four {
        width: 22.6%; }
      footer .div-container ul li .footer-links .link-five {
        width: 32%; }

@media (max-width: 760px) {
  footer .div-container ul li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0; }
    footer .div-container ul li div {
      padding-left: 0;
      padding-right: 0;
      float: left; } }
