/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.top-bar {
  background-color: lightblue;
  padding: 13.5px 0;
  overflow: auto; }
  .top-bar .sass-stickers {
    width: 408.66px;
    margin: 0 auto; }
    .top-bar .sass-stickers .need-more-sass {
      background-color: red;
      width: 200.75px;
      height: 21px;
      float: left; }
    .top-bar .sass-stickers .buy-stickers {
      background-color: blue;
      width: 207.91px;
      height: 21px;
      float: left; }

.pop-stripe {
  height: 4px;
  background-color: black; }

nav {
  padding: 48px 5%;
  background-color: lightgreen; }
  nav .sass-nav {
    outline: 1px solid grey;
    overflow: auto; }
    nav .sass-nav .site-brand {
      width: 353.86px;
      height: 96px;
      float: left;
      background-color: orange; }
    nav .sass-nav ul {
      height: 72px;
      width: 1125.95px;
      margin: 12px 0;
      float: left;
      background-color: pink; }
      nav .sass-nav ul li {
        height: 48px;
        margin: 12px 5px;
        outline: 1px solid red;
        float: right; }
        nav .sass-nav ul li div {
          background-color: black; }

.install {
  width: 88.5px;
  height: 48px; }

.learn-sass {
  width: 115.58px; }

.blog {
  width: 69.92px; }

.documentation {
  width: 153.78px; }

.get-involved {
  width: 130.78px; }

.libsass {
  width: 88.69px; }
