/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
}

#outline {
  border: 3px solid #CECFD5;
  border-radius: 2%;
  height: 640px;
  width: 600px;
  margin-top: 20px;
  margin-left: 80px;
  position: relative;
}

#circle {
  background-color: #CECFD5;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  position: absolute;
  right: -40px;
  top: 90px;
}

#two {
  color: white;
  width: 100px;
  height: 100%;
  font-size: 60px;
  position: absolute;
  text-align: center;
  margin-left: 12.5px;
  margin-top: 32.5px;
}

#lesson {
  color: #54AF52;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 10%;
  font-size: 40px;
}

#see-es-es {
  color: #9698A5;
  font-size: 35px;
  font-weight: bold;
  margin-top: 13%;
  margin-left: 10%;
}

ul {
  margin-top: 5%;
}

ul > li {
  list-style-type: square;
  color: #CECFD5;
}

li {
  margin-left: 15%;
  line-height: 1.7;
  font-size: 30px;
}

.list-items {
  border-bottom: 2px solid #CECFD5;
  padding-bottom: 7px;
}

a {
  text-decoration: none;
  color: #2C83C8;
}

a:visited {
  color: #2C83C8;
}

#share {
  font-size: 30px;
  font-weight: bold;
  color: #9799A6;
  margin-top: 15%;
  margin-left: 10%;
}

img {
  width: 50px;
  margin-top: 5%;
  padding-right: 15px;
}

#twitter {
  margin-left: 10%;
}
