/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.characters, .planets, .ships {
  background-position: center;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.home div {
  text-align: center;
  color: white;
  font-family: 'Russo One', sans-serif;
  padding-top: 300px;
  font-size: 200px;
  font-weight: bold; }

.home a {
  text-decoration: none;
  color: white; }

.home a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: none; }

.home .characters {
  background-image: url("images/datwerkers.gif"); }

.home .planets {
  background-image: url("images/alderaan.gif"); }

.home .ships {
  background-image: url("images/xwings.gif");
  background-position: center; }

h2 {
  font-size: 50px;
  margin-top: 5px;
  font-weight: bold; }

ul div {
  font-size: 20px; }

li {
  outline: 1px solid rgba(19, 19, 19, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  width: 42%;
  font-family: sans-serif;
  margin: 2% 4%;
  float: left;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 5px 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.characters-page {
  background: url("images/googly.gif") no-repeat center center fixed;
  background-size: cover; }

.ships-page {
  background: url("images/trench.gif") no-repeat center center fixed;
  background-size: cover; }

.planets-page {
  background: url("images/yavin.gif") no-repeat center center fixed;
  background-size: cover; }

nav {
  color: white;
  font-family: sans-serif;
  padding: 5px;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  margin: 5px;
  opacity: .7; }

nav:hover {
  opacity: 1; }

.house {
  width: 30px;
  height: 30px;
  padding: 2px 5px; }
